* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: gold;
}

body {
    background-color: orangered;
    border: 10px solid gold;
    font-size: 20px;
}

.container {
    background-color: black;
    color: gold;
    width: 97%;
    margin: auto;
    position: center;
    border: 3px solid;
}

.container > div {
    padding-top: 10px;
}

.center {
    padding: 2px auto;
    border: 3px solid orangered;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    border: 3px solid gold;
    display: block;
}

.tomatify {
    height: 100px;
    padding: 20 30 40;
}


.p {
    color: orange;
    font-size: 50px;
}

li {
    display: inline;
}

li:first-child {
    margin-right: 50px;
}

h1 {
    color: gold;
}

#navigation > ul > li > ul > li,
#footer {
    color: gold;
    margin: 0 auto;
    position: center;
    display: list-item;
}

#navigation > ul > li > ul {
    position: fixed;
    background-color: orangered;
    left: 185px;
    top: 30px;
    list-style: none;
    display: none;
}

#navigation > ul > li:hover > ul {
    display: block;
}

#content {
    background:orangered;
    text-align: center;
    color: white;
}

figure {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

li:hover {
    background: gray;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navigation > ul > li {
    position: relative;
    left: 0;
    top: 0;
}

#header {
    padding-top: 50px;
    text-align: center;
    background-color: gray;
}