.container {background-color: lightblue;
max-width: 960px; margin: 0 auto; position:center;}
.tomatify{height: 100px;
    padding: 20 30 40;
}
.p{color: orange; font-size:50px;}
li{display:inline;}
li:first-child {margin-right:50px;}
