#root {
    background-image: url("/Documents/Bay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 10px solid gold;
    font-size: 20px;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-auto-columns: (min-content, 15vw) auto;
    grid-template-areas: "navigation  header" "navigation  content" "navigation  footer";
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    color: gold;
    margin: 0 auto;
    border: 3px solid;
    max-width: 960px;
    text-align: center;
}

#navigation, #footer {
    padding: 15px;
}

#navigation a {
    text-transform: uppercase;
}

#navigation a, #footer a {
    text-decoration: none;
    transition: 0.1s color ease;
}

#navigation a:hover, #footer a:hover {
    border-bottom: 3px solid;
    text-decoration: none;
    color: gold;
}

h1 {
    color: gold;
}

.image {
    max-height: 50%;
    max-width: 50%;
}

#navigation>ul>li>ul>li, #footer {
    color: gold;
    margin: 0 auto;
    position: center;
    display: hidden;
    list-style: none;
}

#navigation>ul>li>ul {
    position: fixed;
    background-color: orangered;
    left: 200px;
    list-style: none;
    display: hidden;
    top: 75px;
    border: 3px solid gold;
}

#navigation>ul>li:hover>ul {
    border: 3px solid gold;
    display: block;
}

#content {
    background: orangered;
    text-align: center;
    margin: 20px;
    color: white;
    grid-area: content;
    font-family: 'PT Sans Caption', sans-serif;
}

figure {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

li:hover {
    background: gray;
}

#navigation {
    top: 0;
    position: sticky;
    grid-area: navigation;
}

#navigation>ul, #footer>li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Russo One', sans-serif;
}

#navigation>ul>li {
    position: relative;
}

#header {
    background-color: orangered;
    grid-area: header;
}

h1 {
    text-align: center;
}

#footer {
    grid-area: footer;
}

@media (min-width: 800px) {
    #root {
        grid-template-areas: "navigation header" "navigation content" "navigation footer";
        grid-template-rows: min-content auto min-content;
        grid-template-columns: minmax(min-content, 15vw) auto;
    }
}